.home {
    position: relative;
    height: 100vh;
    background-image: url("https://img.wallpapersafari.com/desktop/1366/768/66/7/SabMAR.jpg");

}

.about {
    position: relative;
    height: 100vh;
   background-color: black  ;

}

.name {
    position: absolute;
    margin-top: 26vh;
    color: azure;
}


.position {
    font-size: 60px;
}

span {
    color: red;
}

.icons {
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
}

.parent-about{
    display: grid;
    grid-template-columns: auto auto auto;
}
.resume{
    position: relative;
    height: 100vh;
   background-color: black  ;
}
.contact{
    position: relative;
    height: 100vh;
   background-color: black  ;
}


/* Resume */

.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color:   red;
    color: #fff;
    max-height: 50px;
    z-index: 2;
  }
  
  .how-it-works.row .col-2 {
    align-self: stretch;
  }
  .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #ED8D8D;
    z-index: 1;
  }
  .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
  }
  .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }
  
  
  .timeline div {
    padding: 0;
    height: 40px;
  }
  .timeline hr {
    border-top: 3px solid #ED8D8D;
    margin: 0;
    top: 17px;
    position: relative;
  }
  .timeline .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline .corner {
    border: 3px solid #ED8D8D;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline .top-right {
    left: 50%;
    top: -50%;
  }
  .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
  }
  .timeline .top-left {
    left: -50%;
    top: -50%;
  }
  .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }

  