
html {
  scroll-behavior: smooth;
}
.home {
    position: relative;
    height: 100vh;
    background-image: url("https://media.istockphoto.com/photos/dark-blue-metal-pattern-background-picture-id1161683700?k=6&m=1161683700&s=170667a&w=0&h=uOMvVJYJ1-y6HvoVGq0cjqBAnLbDC2U7JOku5cv8Jxw=");
    background-repeat: no-repeat;
    background-size:100% 100vh;
}

.about {
    position: relative;
    height: 100vh;
   background-color: black  ;

}
.about-img{
  width: 378px;
  height: 360px;
}

.name {
    position: absolute;
    margin-top: 26vh;
    color: azure;
}


.position {
    font-size: 60px;
}

span {
    color: red;
}

.icons {
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
}

.nav-element:hover{
  background-color: red;
}

.parent-about{
    display: grid;
    grid-template-columns: auto auto auto;
}
.resume{
    position: relative;
    height: 100vh;
   background-color: black  ;
   padding-top: 80px; 
}
.contact{
    position: relative;
    height: 100vh;
   background-color: black  ;
   padding-top: 80px;
}
.contact-input{
width: 150%;
margin-left: 50%;
margin-top: 50px
}
.contact-button{
  margin-left: 110%;
}
.foot{
  background-color: black  ;
  color: #fff;
}

/* @media(min-width:0px)and(max-width:486px) {
  .about{
    height: 100vh;
  }
  
} */




@media(max-width:768px) {
  .about{
    height: 170vh;
  }
  .resume{
    height: 240vh;
  }
}

/* @media(min-width:768px) and (max-width:991px) {
  .about{
    height: 135vh;
  }
  .resume{
    height: 130vh;
  }
}

@media(min-width:992px) {
  .resume{
    height: 110vh;
  }
}

@media(min-width:1200px) {
  
} */

@media(min-width:150px) and (max-width:208px) {

  .resume{
    height: 600vh;
  }
}
@media(min-width:209px) and (max-width:261px) {

  .resume{
    height: 330vh;
  }
}

@media(min-width:262px) and (max-width:319px) {

  .resume{
    height: 320vh;
  }
}

@media(min-width:320px) and (max-width:372px) {
  .about{
    height: 180vh;
  }
  .resume{
    height: 260vh;
  }
}

@media(min-width:373px) and (max-width:400px) {
  .about{
    height: 160vh;
  }
  .resume{
    height: 240vh;
  }
}
@media(min-width:401px) and (max-width:480px) {
  .about{
    height: 180vh;
  }
  .resume{
    height: 202vh;
  }
}

@media(min-width:481px) and (max-width:768px) {
  .about{
    height: 150vh;
  }
  .resume{
    height: 170vh;
  }
}

@media(min-width:769px) and (max-width:991px) {
  .about{
    height: 120vh;
  }
  .resume{
    height: 125vh;
  }
}
@media(min-width:992px) and (max-width:1024px) {
  .about{
    height: 100vh;
  }
  .resume{
    height: 105vh;
  }
}

@media(min-width:1025px) and (max-width:1200px) {
  .about{
    height: 100vh;
  }
  .resume{
    height: 110vh;
  }
}
@media(min-width:1201px) {
  .about{
    height: 100vh;
  }
  .resume{
    height: 100vh;
  }
}

/* @media(min-width:768px) {
  .about{
    height: 135vh;
  }
  .resume{
    height: 130vh;
  }
} */








/* Resume */

.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color:   red;
    color: #fff;
    max-height: 50px;
    z-index: 2;
  }
  
  .how-it-works.row .col-2 {
    align-self: stretch;
  }
  .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #ED8D8D;
    z-index: 1;
  }
  .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
  }
  .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }
  
  
  .timeline div {
    padding: 0;
    height: 40px;
  }
  .timeline hr {
    border-top: 3px solid #ED8D8D;
    margin: 0;
    top: 17px;
    position: relative;
  }
  .timeline .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline .corner {
    border: 3px solid #ED8D8D;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline .top-right {
    left: 50%;
    top: -50%;
  }
  .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
  }
  .timeline .top-left {
    left: -50%;
    top: -50%;
  }
  .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }

  